<div class="container-fluid">
    <h2 class="text-center">Add A New Quote:</h2>
    <form (ngSubmit)='submitQuote()' #quoteForm='ngForm'>
        <div class="form-group">

            <label for="name">Quote:</label>
            <textarea class="form-control" id="name" rows="4" required [(ngModel)]="newQuote.name" name="name" #name='ngModel'></textarea>
            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                <p>Quote is required</p>
            </div>
        </div>
        <div class="form-group">

            <label for="author">Author:</label>
            <input type="text" required class="form-control" id="author" [(ngModel)]="newQuote.author" name="author" #author='ngModel'>
            <div [hidden]="author.valid || author.pristine" class="alert alert-danger">
                <p>Author is required</p>
            </div>
        </div>
        <div class="form-group">

            <label for="person">Posted By:</label>
            <input type="text" required class="form-control" id="person" [(ngModel)]="newQuote.person" name="person" #person='ngModel'>
            <div [hidden]="person.valid || person.pristine" class="alert alert-danger">
                <p>Person is required</p>
            </div>
        </div>
        <div class="form-group">
            <label for="date">On the day:</label>
            <input type='date' class="form-control" id="date" required [(ngModel)]="newQuote.quoteDate" name="quoteDate" #quoteDate='ngModel'>

        </div>
        <button type="submit" class="btn btn-success">Post Quote</button>
    </form>
</div>