<div class="container ">
    <div class="row">
        <div class="col-md-6">

            <app-form (addQuote)="addNewQuote($event)"></app-form>

        </div>
        <div class="col-md-6 ">
            <h2 class="text-center">Here are a few sample quotes</h2>
            <div *ngFor='let quote of quotes; let i = index' class="card">
                <div>
                    {{quote.name}}
                    <br>Posted on: {{quote.quoteDate}}<br>

                    <button (click)='toggleAuthor(i)' class='btn btn-primary'>Author and Vote:</button>
                    <div *ngIf='quote.showAuthor'>
                        <app-quote-detail [quote]='quote' (isComplete)='deleteQuote($event,i)'></app-quote-detail>
                    </div>
                </div>


            </div>


        </div>
    </div>
</div>